{{ define "main" }}
{{ $dateFormat := default "Jan 2, 2006" (index .Site.Params "date_format") }}
<main class="flex-shrink-0">
    <div class="container">
        <div class="row g-0">
            <div class="col-12">
                <div class="container g-0 my-4">
                    <div class="row p-3 pb-0 border shadow">
                        <div class="col-12 p-0">
                            <div class="container g-0">
                                <div class="row g-0">
                                    <div class="col-12">
                                        <h3 class="mt-2 g-0 pink light">{{ .Title }}</h3>
                                        <hr class="my-3">
                                        <div class="row g-0 pt-1 pb-2">
                                            <p class="lead mb-4">Going all the way back to high school, guitars have always been an important part of my
                                                life. Given how much I love the work of so many builders, I wanted to share some of my favorites with
                                                anyone that might be interested. This a chronological list of builders that got me into lutherie
                                                and helped kept me going. I've kept this list of favorites fairly concise, but there are many
                                                more builders who's amazing work has inspired me as well. Some of these include: Leo Fender
                                                (Fender, Musicman, G&L) and Semie Moseley (Mosrite of California) from the early days of the
                                                electric guitar, Rick Turner and Alembic who hit their stride in the 70s, Ned Steinberger and
                                                Philip Kubicki who made waves in the 80s, and finally Ulrich Teuffel and Michael Spalt that
                                                were just becoming popular as I was getting interested in guitars in the 90s. There
                                                are also a lot of newer builders who I follow, for example
                                                <a href="https://www.millimetric.ca" target="_blank">Florian Bouyou</a>,
                                                <a href="http://schorrguitars.de" target="_blank">Nicolai Schorr</a>, and 
                                                <a href="https://versoinstruments.com" target="_blank">Robin Stummvoll</a> are all building really
                                                unique and interesting instruments right now.
                                            </p>
                                        </div>

                                        <div class="g-0 container mb-3 border shadow-lg row align-items-md-stretch">
                                            <div class="col-md-12 col-lg-5 g-0">
                                                <div class="h-100" style="background-color: black;">
                                                    <img src="{{ $.Site.Params.imgURL }}inspiration/prs.jpg"
                                                        class="img-fluid " alt="Pair of PRS EG Guitars" />
                                                </div>
                                            </div>
                                            <div class="col-md-12 col-lg-7 g-0">
                                                <div class="h-100 p-4 bg-light">
                                                    <h2>Paul Reed Smith</h2>
                                                    <h3>PRS Guitars</h3>
                                                    <p class="mt-3">When I was in high school PRS was everywhere, used by many popular players
                                                        and all over the pages of guitar magazines. In my freshman year I sent away for
                                                        a brochure by mail and received back the coolest package ever. It included a sticker,
                                                        price list, large individual cards for every model, a color chart, and a printed folder
                                                        to hold everything. I can't exaggerate how many hours I spend pouring over that package,
                                                        learning about each model, the features, the wood, etc. I became obsessed, and even though
                                                        my family did not have a lot of money, I did eventually save up for a used EG, which at the
                                                        time was the lowest cost model and basically a high-end strat copy.
                                                    </p>
                                                    <p>
                                                        PRS was probably my first big crush, but my interests were always in the more
                                                        simple models like the EG, Standard, and Studio. Over time PRS leaned even more into
                                                        high-end material thing with super figured woods, antique whale bone inlay, and bald
                                                        eagle feather padded gig bags. That's not really my thing, but then they started doing
                                                        import instruments and offering generic Gibson and Fender style models... I lost interest.
                                                    </p>
                                                    <p class="mb-4">
                                                        What I did take from PRS that always stuck with me was the concept of a silhouette. Going
                                                        back to that brochure package, every single model had the same basic outline. Even though
                                                        the materials, features, and cost might vary wildly, that very recognizable base design was
                                                        there at the core. These were also just beautifully designed and constructed instruments,
                                                        coupled with great photography and marketing. PRS is an impressive company across the board.
                                                    </p>
                                                    <p><a href="https://www.prsguitars.com" target="_blank"
                                                            class="btn bg-light" style="text-transform: none;">Visit
                                                            Paul Reed Smith @ prsguitars.com</a></p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="g-0 container mb-3 border shadow-lg row align-items-md-stretch">
                                            <div class="col-md-12 col-lg-7 g-0">
                                                <div class="h-100 p-4 bg-light">
                                                    <h2>Hans-Peter Wilfer</h2>
                                                    <h3>Warwick Basses</h3>
                                                    <p class="mt-3">Almost everything you could say about PRS in the 90s you could also say
                                                        about Warwick. They were very well represented by top artists in all genres of music and
                                                        they offered unique designs using interested materials. I think the marketing was not
                                                        as strong, but that didn't stop a lot of people from falling in love with the brand. There
                                                        was a consistent thread connecting their various models with some common design elements and
                                                        material use, but it wasn't nearly as cohesive as PRS. For me that means some models were
                                                        not as interesting, but others really stood out.
                                                    </p>
                                                    <p class="mb-4">
                                                        The Warwick Dolphin is by far my favorite bass. At this point Warwick has moved
                                                        on much in the same way that PRS has, not offering much I am interested in and with changes
                                                        that aren't my taste, but that original Boire Pro-I Dolphin is the stuff of dreams. I've owned
                                                        three Pro-Is... two Boire and one Birdseye Maple and I would put the Boire models up against
                                                        anything. This is the bass that started my love affair with Wenge. The main body design and
                                                        carvings are also very unique across all instruments. I know Warwick initially borrowed the
                                                        carved body thing from Spector, but the Dolphin takes it to a level that still seems to be
                                                        untouched by anything since.

                                                    </p>
                                                    <p><a href="https://www.warwickbass.com" target="_blank"
                                                            class="btn bg-light" style="text-transform: none;">Visit
                                                            Hans-Peter Wilfer @ warwickbass.com</a></p>
                                                </div>
                                            </div>
                                            <div class="col-md-12 col-lg-5 g-0">
                                                <div class="h-100" style="background-color: black;">
                                                    <img src="{{ $.Site.Params.imgURL }}inspiration/warwick.jpg"
                                                        class="img-fluid " alt="Boire Warwick Dolphin" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="g-0 container mb-3 border shadow-lg row align-items-md-stretch">
                                            <div class="col-md-12 col-lg-5 g-0">
                                                <div class="h-100" style="background-color: black;">
                                                    <img src="{{ $.Site.Params.imgURL }}inspiration/steves.jpg"
                                                        class="img-fluid " alt="Trio of Klein Acoustics" />
                                                </div>
                                            </div>
                                            <div class="col-md-12 col-lg-7 g-0">
                                                <div class="h-100 p-4 bg-light">
                                                    <h2>Steve Klein & Steven Kauffman</h2>
                                                    <h3>Klein Acoustic & Electric Guitars</h3>
                                                    <p class="mt-3">If someone dropped a pile of money on my lap and said I could buy all the guitars I want,
                                                        the first thing I would do is order a Klein 457 in Claro Walnut. Klein Acoustics are my
                                                        favorite instruments of all time, and I think Steve Klein is one of the best instrument
                                                        designers ever. His electric designs are iconic, his customs are amazing, the acoustic bass
                                                        he designed in collaboration with Taylor is a modern classic, and the Kiso acoustics are
                                                        also beautiful... but none of those can hold a candle to his classic acoustic designs. A model
                                                        from the mid 70s still feels modern, fresh, and without equal on the market. On top of all
                                                        that amazing design work, Steven Kauffman is a craftsman of the highest order.
                                                    </p>
                                                    <p class="mb-4">
                                                        When I was a kid in my late teens I played a <a href="/journal/2019/09/22/1999-taylor-klein-ab-2-imbuia-acoustic-bass/">Taylor/Klein AB</a> at a local music store and it opened
                                                        my eyes to how strange and beautiful an instrument could be. From there I learned more about the
                                                        model and Steve Klein. I eventually was able to visit Klein's Music in Sonoma many times and
                                                        all the interesting instruments there further inspired me to eventually go to lutherie school.
                                                    </p>
                                                    <p><a href="https://kleinsbench.com" target="_blank"
                                                            class="btn bg-light" style="text-transform: none;">Visit
                                                            Steve Klein @ kleinsbench.com</a></p>
                                                    <p><a href="https://kleinandkauffmanguitars.com" target="_blank"
                                                            class="btn bg-light" style="text-transform: none;">Visit
                                                            Steven Kauffman @ kleinandkauffmanguitars.com</a></p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="g-0 container mb-3 border shadow-lg row align-items-md-stretch">
                                            <div class="col-md-12 col-lg-7 g-0">
                                                <div class="h-100 p-4 bg-light">
                                                    <h2>Ken Parker</h2>
                                                    <h3>Ken Parker Archtops</h3>
                                                    <p class="mt-3">Ken Parker is another one of those guys that just seems to have the golden touch
                                                        in lutherie. Everyone is familiar with his now iconic Parker Fly guitars. These instruments
                                                        were basically modern classics as soon as they hit the market, revolutionizing multiple
                                                        elements of the instrument. For a long time that was my exposure to Ken 's work, then at
                                                        some point I found one of his early basses available and it shocked me to see how long he had 
                                                        been working on that same core design/style. I dug a little at that point but still didn't fully
                                                        learn just how amazing Ken was until he started offering his own line of archtops. These guitars
                                                        are an absolute masterclass in tasteful design, amazing craft, and a re-consideration of EVERY
                                                        aspect of the instrument. His balance between understanding and respecting the past while
                                                        pushing the art form forward with new techniques and materials is impressive beyond words.
                                                    </p>
                                                    <p class="mb-4">
                                                        Ken has recently started making his wealth of knowledge available via articles and
                                                        videos on his site. His work and content are infinitely inspirational!
                                                    </p>
                                                    <p><a href="https://kenparkerarchtops.com" target="_blank"
                                                            class="btn bg-light" style="text-transform: none;">Visit Ken
                                                            Parker @ kenparkerarchtops.com</a></p>
                                                </div>
                                            </div>
                                            <div class="col-md-12 col-lg-5 g-0">
                                                <div class="h-100" style="background-color: black;">
                                                    <img src="{{ $.Site.Params.imgURL }}inspiration/parker.jpg"
                                                        class="img-fluid " alt="Ken Parker Archtop" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="g-0 container mb-3 border shadow-lg row align-items-md-stretch">
                                            <div class="col-md-12 col-lg-5 g-0">
                                                <div class="h-100" style="background-color: black;">
                                                    <img src="{{ $.Site.Params.imgURL }}inspiration/malinoski.jpg"
                                                        class="img-fluid " alt="Malinoski Bass #1" />
                                                </div>
                                            </div>
                                            <div class="col-md-12 col-lg-7 g-0">
                                                <div class="h-100 p-4 bg-light">
                                                    <h2>Peter Malinoski</h2>
                                                    <h3>Malinoski Guitar</h3>
                                                    <p class="mt-3">I became familiar with Peter Malinoski's work back in the early days of the internet on
                                                        BunnyBass.com. I loved that site and spent a ton of time on their forums. I learned a lot about
                                                        lutherie and photography via interviews and tutorials on Bunny Bass. Pete was featured there and
                                                        his instruments made a strong impression on me. He has made so many interesting instruments over the
                                                        years, and although his style is strong, he rarely repeats himself. These are all special instruments
                                                        that really stand out, but I especially love the basses.
                                                    </p>
                                                    <p class="my-4">
                                                        The thing that most inspires me about Pete's work is the fearlessness to do just about anything. I love
                                                        his DIY, punk rock kind of attitude and approach to building. I often get so far up my own ass it's nice
                                                        to look at Pete's work and remember we're supposed to be having fun.
                                                    </p>
                                                    <p><a href="https://www.petermalinoskiart.com" target="_blank"
                                                            class="btn bg-light" style="text-transform: none;">Visit
                                                            Peter Malinoski @ petermalinoskiart.com</a></p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="g-0 container mb-3 border shadow-lg row align-items-md-stretch">
                                            <div class="col-md-12 col-lg-7 g-0">
                                                <div class="h-100 p-4 bg-light">
                                                    <h2>Harry Fleishman</h2>
                                                    <h3>Fleishman Instruments</h3>
                                                    <p class="mt-3">
                                                        Harry Fleishman has accomplished a feat very few instrument designers have, creating both iconic acoustic
                                                        and electric designs, as well as both guitar and bass designs. His work is getting harder to find online
                                                        so I don't have names for all his instruments, but his asymmetrical acoustic design is one of my favorites
                                                        of all time. He's made some beautiful multi-scale basses over the years as well.
                                                    </p>
                                                    <p class="mb-4">
                                                        I've often complained how little I care for inlay, but on many of Harry's more ornate instruments I almost
                                                        feel like I am looking at a scene frozen in time. The design of the instrument and the design of the inlay
                                                        are so tightly integrated that it all feels as one. This is real artistry, and I would swear if you look long
                                                        enough, that bee on the fingerboard might just wake up and fly right off the guitar.
                                                    </p>
                                                    <p><a href="https://www.fleishmaninstruments.net" target="_blank"
                                                            class="btn bg-light" style="text-transform: none;">Visit Harry
                                                            Fleishman @ fleishmaninstruments.net</a></p>
                                                </div>
                                            </div>
                                            <div class="col-md-12 col-lg-5 g-0">
                                                <div class="h-100" style="background-color: black;">
                                                    <img src="{{ $.Site.Params.imgURL }}inspiration/fleishman.jpg"
                                                        class="img-fluid " alt="Ken Parker Archtop" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="g-0 container mb-3 border shadow-lg row align-items-md-stretch">
                                            <div class="col-md-12 col-lg-5 g-0">
                                                <div class="h-100" style="background-color: black;">
                                                    <img src="{{ $.Site.Params.imgURL }}inspiration/matsuda.jpg"
                                                        class="img-fluid " alt="Matsuda Deconstruction Double Neck" />
                                                </div>
                                            </div>
                                            <div class="col-md-12 col-lg-7 g-0">
                                                <div class="h-100 p-4 bg-light">
                                                    <h2>Michihiro Matsuda</h2>
                                                    <h3>Matsuda Guitars</h3>
                                                    <p class="mt-3">I first learned about Michihiro "Michi" Matsuda while attending Roberto Venn. Michi is probably
                                                        one of the most accomplished graduates of RV so there has always been a certain amount of pride just being
                                                        associated with him in that way. My first introduction to his work was through his amazing flat top acoustics.
                                                        These introduced many notable features to the stuffy flat top world (my words) such as his own unique body
                                                        shapes, VERY unique rosettes, and beautifully carved heels. These guitars are inspirational in themselves,
                                                        but soon after I was introduced to his more wild work.
                                                    </p>
                                                    <p class="mb-4">
                                                        His custom work seems to stand on its own as I have never seen anything like it. Most of these instruments
                                                        feature many overlapping levels of carved woods, with some being glossy finished and others more
                                                        natural finished. Sometimes multiple necks, often custom hardware, and always many unique flourishes. I
                                                        honestly have trouble my wrapping my head around some of these instruments, but there's no question they are
                                                        always beautifully and perfectly executed.
                                                    </p>
                                                    <p><a href="https://matsudaguitars.com" target="_blank"
                                                            class="btn bg-light" style="text-transform: none;">Visit
                                                            Michihiro Matsuda @ matsudaguitars.com</a></p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="g-0 container mb-3 border shadow-lg row align-items-md-stretch">
                                            <div class="col-md-12 col-lg-7 g-0">
                                                <div class="h-100 p-4 bg-light">
                                                    <h2>Nobuaki Hayashi</h2>
                                                    <h3>Atlansia Guitars</h3>
                                                    <p class="mt-3">There's a madness to the instruments of Atlansia, but is the kind of madness that speaks to me
                                                        so strongly that I come back again and again. I've owned a Greco/Atlansia Stealth Bass in the past and now
                                                        a <a href="/journal/2022/09/21/1994-atlansia-solitaire-single-string-bass/">Solitaire Single String Bass</a>. These instruments have many unique features, but the custom hardware and
                                                        pickups stand out above all. These basses go in so many directions I can really relate to how many ideas
                                                        are bouncing around when you look at everything they make. You have to respect someone willing to put six
                                                        pole pieces into a single string bass pickup. Why??? Don't you mean, Why not?!?
                                                    </p>
                                                    <p class="mb-4">Beyond the amazing hardware and pickups I am also in love with the wood selection and overall
                                                        design. These are guitars and basses spanning over a 40 year run with a cohesive style that is unique and
                                                        completely their own.
                                                    </p>
                                                    <p><a href="https://atlansiaguitars.com" target="_blank"
                                                            class="btn bg-light" style="text-transform: none;">Visit
                                                            Nobuaki Hayashi @ atlansiaguitars.com</a></p>
                                                </div>
                                            </div>
                                            <div class="col-md-12 col-lg-5 g-0">
                                                <div class="h-100" style="background-color: black;">
                                                    <img src="{{ $.Site.Params.imgURL }}inspiration/atlansia.jpg"
                                                        class="img-fluid " alt="Atlansia Bass" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="g-0 container mb-3 border shadow-lg row align-items-md-stretch">
                                            <div class="col-md-12 col-lg-5 g-0">
                                                <div class="h-100" style="background-color: black;">
                                                    <img src="{{ $.Site.Params.imgURL }}inspiration/tao.jpg"
                                                        class="img-fluid " alt="The Tao Guitar" />
                                                </div>
                                            </div>
                                            <div class="col-md-12 col-lg-7 g-0">
                                                <div class="h-100 p-4 bg-light">
                                                    <h2>Serge Michiels & John Joveniaux</h2>
                                                    <h3>Tao Guitars by John & Serge</h3>
                                                    <p class="mt-3">For me Tao Guitars is a celebration of what's possible when beautiful design,
                                                        amazing materials, and excellent craftsmanship all come together in a way that seems to be
                                                        completely without limitation. These instruments are so beautiful and unique. You can tell
                                                        EVERY SINGLE DETAIL has been poured over with so much love and attention.
                                                    </p>
                                                    <p class="mb-4">
                                                        I would say being able to design and execute on one model at this level would be enough
                                                        to make your career as a luthier, but Tao has done it over and over again across many very
                                                        unique instruments. Not every one of their instruments are to my taste, but ones that I do
                                                        love are some of the most beautiful and interesting guitars that I've seen in recent years.
                                                    </p>
                                                    <p><a href="http://www.taoguitars.com" target="_blank"
                                                            class="btn bg-light" style="text-transform: none;">Visit
                                                            Serge Michiels & John Joveniaux @ taoguitars.com</a></p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="g-0 container mb-3 border shadow-lg row align-items-md-stretch">
                                            <div class="col-md-12 col-lg-7 g-0">
                                                <div class="h-100 p-4 bg-light">
                                                    <h2>Kaz Goto, Akiko Oda, and Eiko Goto</h2>
                                                    <h3>Jersey Girl Homemade Guitars</h3>
                                                    <p class="mt-3">I think I may have been the last person on the internet to hear about Jersey Girl
                                                        Homemade Guitars. They got their start in 1991, and made their first big USA splash at NAMM in
                                                        2004, but I still managed to miss them over and over again. I'm almost thankful that I did
                                                        miss them for so long, because at some point you see enough luthier-built guitars that it
                                                        really feels like you've seen it all. There's always room for someone to do something really
                                                        silly and out of left field, but it becomes more and more rare to find really well designed and
                                                        tastefully appointed instruments executed so perfectly.
                                                    </p>
                                                    <p class="mb-4">
                                                        As I've stated in the past, I'm not a person that really appreciates ornamentation.
                                                        I guess JGHG is the exception that proves the rule. Everything they do is just so perfect and
                                                        correct. These have always been really nice guitars, but going back maybe 5-7 years is where
                                                        I think they fully hit their stride. Their style is so well defined, yet they have a ton of
                                                        variety in the instruments they build. Just the design alone is impressive, but they are also 
                                                        making a lot of custom hardware and custom pickups. These are really exciting guitars that
                                                        set a high bar for everyone else in 2022!
                                                    </p>
                                                    <p><a href="https://jerseygirlhg.com" target="_blank"
                                                            class="btn bg-light" style="text-transform: none;">Visit
                                                            Kaz Goto, Akiko Oda, and Eiko Goto @ jerseygirlhg.com</a></p>
                                                </div>
                                            </div>
                                            <div class="col-md-12 col-lg-5 g-0">
                                                <div class="h-100" style="background-color: black;">
                                                    <img src="{{ $.Site.Params.imgURL }}inspiration/jghg.jpg"
                                                        class="img-fluid " alt="Jersey Girl Guitar" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</main>
{{ end }}