{{ define "main" }}
{{ $dateFormat := default "Jan 2, 2006" (index .Site.Params "date_format") }}
<main class="flex-shrink-0">
  <div class="container">
    <div class="container g-0">
      <div class="row g-0 my-4">
        <!-- <div class="col-sm-12 d-md-none">
          <div class="container g-0 mb-4">
            <div class="row p-2 border shadow">
              <div class="col-12 p-2">
                {{ if not (.Params.images) }}
                <img src="{{ .Site.Params.imgURL }}{{ index $.Params.previewImage }}" class=" m-0 w-100" alt="Image" />
                {{ else }}
                <img src="{{ .Site.Params.imgURL }}{{ index $.Params.images 0 }}" class=" m-0 w-100" alt="Image" />
                {{ end }}
              </div>
            </div>
          </div>
        </div> -->
        <div class="col-lg-7 col-md-6 col-sm-12">
          <div class="container g-0">
            <div class="row p-3 pt-0 border shadow">
                <h3 class="mt-4 g-0 pink light">{{ .Title }}</h3>
              <hr class="mt-2 mb-2">
              <p class="small text-end mb-4"><em>Posted on {{ .Date.Format "January 2, 2006" }} by <a href="/about">Scott French</a></em></p>
              {{.Content}}

              <hr class="mt-4 mb-3">
              <p class="small g-0 mb-1">
                Thanks for reading this journal entry! Feel free to
                <a href="mailto:mail@scottfrench.com">reach out via email</a>
                or join the discussion on <a href="https://instagram.com/scott__french/"
                target="_blank">Instagram</a>.
              </p>
            </div>
          </div>
          <div class="container g-0 my-4">
            <div class="row p-3 pt-0 border shadow">
              <h5 class="mt-4 g-0 pink">Tags</h5>
              <hr class="my-1 w-100" />
              <p class="g-0">
                {{ range .Params.tags }}
                  <a href="/tags/{{ . | urlize }}"> <span class="badge bg-dark bg-{{ . }}">#{{ . }}</span></a> 
                {{ end }}
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-5 col-md-6 col-sm-12">
          <div class="container g-0 ps-md-5 mb-4">
            <div class="row p-2 border shadow">
              {{ if not (.Params.images) }}
              <a href="{{ .Site.Params.imgURL }}{{ index $.Params.previewImage }}" class="d-none d-md-block" data-gallery="journal" data-toggle="lightbox">
                <img src="{{ .Site.Params.imgURL }}{{ index $.Params.previewImage }}" class="w-100 my-3" alt="Illustration" />
              </a>
              {{ else }}
              {{ range after 0 .Params.images }}
              <div class="col-{{ $.Params.cols }} p-2">
                <!-- <div style="background-image: url('{{ $.Site.Params.imgURL }}{{.}}'); background-size: cover; background-repeat: no-repeat; background-position: center;"> -->
                  <a href="{{ $.Site.Params.imgURL }}{{.}}" data-gallery="journal" data-toggle="lightbox">
                    <img src="{{ $.Site.Params.imgURL }}{{.}}" class=" m-0 w-100" alt="Image" /><!-- /100x100.png -->
                  </a>
                <!-- </div> -->
              </div>
              {{ end }}
              {{ end }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
{{ end }}
