<nav class="navbar navbar-dark navbar-expand-md justify-content-center bg-primary">
  <div class="container">
    <a href="/" class="navbar-brand d-flex w-25 me-auto">
      <img src="/logo.svg" alt="Scott French" class="sf-logo" />
    </a>
    <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#collapsingNavbar3">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse w-100" id="collapsingNavbar3">
      <ul class="nav navbar-nav ms-auto w-100 justify-content-end">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdownMenuLinkIns" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">
            Instruments
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLinkIns">
            <li><a class="dropdown-item" href="/instruments/"><i class="bi bi-grid-3x3-gap-fill me-1"></i> Gallery</a></li>
            <!-- <li><a class="dropdown-item" href="/features/"><i class="bi bi-box2-heart me-1"></i> Features</a></li> -->
            <!-- <li><a class="dropdown-item" href="/tags/available/"><i class="bi bi-cash-stack me-1"></i> Available</a></li> -->
            <!-- <li><a class="dropdown-item" href="/tags/progress/"><i class="bi bi-tools me-1"></i> In Progress</a></li> -->
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="/journal/">Journal</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdownMenuLinkAbout" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">
            Info
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLinkAbout">
            <li><a class="dropdown-item" href="/about/"><i class="bi bi-file-person me-1"></i> About Me</a></li>
            <li><a class="dropdown-item" href="/philosophy/"><i class="bi bi-flower2 me-1"></i> Philosophy</a></li>
            <!-- <li><a class="dropdown-item" href="/features/"><i class="bi bi-box2-heart me-1"></i> Features</a></li> -->
            <!-- <li><a class="dropdown-item" href="/tags/available/"><i class="bi bi-cash-stack me-1"></i> Available</a></li> -->
            <!-- <li><a class="dropdown-item" href="/tags/progress/"><i class="bi bi-tools me-1"></i> In Progress</a></li> -->
          </ul>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link text-white" href="/pedaler/">Pedaler</a>
        </li> -->
        <!-- <li class="nav-item">
          <a class="nav-link text-white" href="/coiler/">Coiler</a>
        </li> -->
      </ul>
    </div>
  </div>
</nav>