<div class="container g-0 mb-4">
    <div class="row border shadow">
    <div class="col-sm-12 p-0 d-md-none">
      <img src="{{ .Site.Params.imgURL }}about/scott-ugh.jpg" class="img-fluid" alt="The most interesting man in the world." >
    </div>
    <div class="col-md-6 col-lg-6 col-xl-5 p-5">
      <div class="h-100 d-flex align-items-center">
        <div>
          <h1 class="display-6 fw-bold lh-1">Will I ever finish a new guitar?</h1>
          <p class="lead">It's been a while! Join the mailing list or follow along on Instagram if you want to be one of the first to hear about new projects.
          </p>
          <div class="d-grid gap-2 d-md-flex justify-content-md-start">
            <a href="#footer" class="btn bg-pink text-white"><span class="d-none d-lg-inline"><i class="bi bi-send"></i> </span>Sign Up</a>
            <a href="https://instagram.com/scott__french/" class="btn bg-light" target="_blank"><span class="text-lowercase">@scott__french</span></a><!---<span class="d-none d-lg-inline"><i class="bi bi-instagram"></i></span> -->
          </div>
        </div>
      </div>
    </div>
    <div class="d-none d-xl-block col-xl-1">
    </div>
    <div class="col-md-6 col-lg-6 p-0 d-none d-md-block vertical-center" style="background-color: black;">
      <div class="h-100 d-flex align-items-center">
        <div>
          <img src="{{ .Site.Params.imgURL }}about/scott-ugh.jpg" alt="The most interesting man in the world." class="img-fluid py-md-5 py-lg-0">
        </div>
      </div>
    </div>
  </div>
</div>